<div style align="center">
	<p>
		je suis la page journal dev
	</p>
</div>

<div class="container-fluid  ">
	<div class="row">
		<div class=" col-md-10  pull-right">
				<h1>LoGeAs V9 Fichier</h1>
				<h4>Version de test actuelle : b5 du 22/06/2017</h4>

				<div class="alert alert-info" style="background-color:#D8D8D8">
					<hr>
					<h4>Version b5 22/06/2017</h4>

					Changelog:<br>
					<ul>
						<li>Gestion des droits d'accès</li>
					</ul>
					<br>
					Erreurs connues:<br>
					<ul>
						<li>Les boutons ne reflètent pas l'état des droits de l'utilisateur</li>
						<li>Impossible de changer de secteur</li>
						<li>Le champ civilité n'est pas affiché dans le formulaire sur les personnes</li>
					</ul>
					<hr>
				</div>

				<div class="alert alert-info" style="background-color:#D8D8D8">
					<hr>
					<h4>Version b4 07/12/2016</h4>

					Changelog:<br>
					<ul>
						<li>Annuaire terminé</li>
						<li>Fix date de naissance mise à la date du jour</li>
						<li>Amélioration des messages d'erreur</li>
					</ul>
					<br>
					Erreurs connues:<br>
					<ul>
						<li>Le champ civilité n'est pas affiché dans le formulaire sur les personnes</li>
					</ul>
					<hr>
				</div>

				<div class="alert alert-info" style="background-color:#D8D8D8">
					<hr>
					<h4>Version b3 01/12/2016</h4>

					Changelog:<br>
					<ul>
						<li>Première version de annuaire en ligne (version provisoire de l'affichage)</li>
					</ul>
					<br>
					Erreurs connues:<br>
					<ul>
						<li>Sur mobile: Le lien vers personne depuis famille ne fonctionne pas</li>
					</ul>
					<hr>
				</div>

				<div class="alert alert-info" style="background-color:#D8D8D8">
					<hr>
					<h4>Version b2 26/11/2016</h4>

					Changelog:<br>
					<ul>
						<li>Champs de type date ok</li>
						<li>Ordre des colonnes sauvegardé</li>
						<li>Corrections de bugs divers</li>
						<li>Renforcement de la sécurité</li>
						<li>Backup des bases clients régulier (1/jour)</li>
					</ul>
					<br>
					Erreurs connues:<br>
					<ul>
						<li>La page "Annuaire" est désactivée le temps qu'elle soit retravaillée</li>
					</ul>
					<hr>
				</div>

				<div class="alert alert-info" style="background-color:#D8D8D8">
					<hr>
					<h4>Version b1 11/11/2016</h4>

					Changelog:<br>
					<ul>
						<li>Ecran personne sur desktop et mobile fonctionnel</li>
						<li>Piste d'audit implémentée à 80%</li>
						<li>Champs personnels en édition sur famille et personne</li>
						<li>Optimisations et corrections de bugs diverses</li>
					</ul>
					<br>
					Erreurs connues:<br>
					<ul>
						<li>L'ordre des colonnes n'est pas sauvegardé</li>
					</ul>
					<hr>
				</div>

				<div class="alert alert-info" style="background-color:#D8D8D8">
					<hr>
					<h4>Version b0.9 03/11/2016</h4>

					Changelog:<br>
					<ul>
						<li>Ecran personne sur pc desktop fonctionnel</li>
						<li>Ecran famille sur desktop et mobile fonctionnel</li>
						<li>Optimisations et corrections de bugs diverses</li>
						<li>Ajout début d'implémentation pour sauvegarder l'ordre des colonnes</li>
						<li>Rapidité de traitement améliorée</li>
					</ul>
					<br>
					Erreurs connues:<br>
					<ul>
						<li>Problème avec les champs de type Date (anniversaire d'une personne par exemple)</li>
						<li>Ecran personne sur mobile non-finalisé</li>
					</ul>
					<hr>
				</div>
		</div>
	</div>
</div>