<div style align="center">
	<p>
  		je suis la page Famille 
	</p>
</div>
<div class="container-fluid">
	<div class="row">		
		<div class="col-md-10 pull-right">
			<div class="btn-group">
				<button type="button" class="btn btn-primary dropdown-toogle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-cog"> Paramétrage </span><span class="caret"></span>
				</button>
						<ul class="dropdown-menu">								
							<li><a href="#"></a><input type="checkbox" value=""/> N° Boite, appt ...</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Rès, Bat, ZI ...</li>
							<li><a href="#"></a><input type="checkbox" value=""/> N° et Rue</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Archiver ?</li>
							<li><a href="#"></a><input type="checkbox" value=""/> A Supprimer</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Classer Sous<br/>(pour tri)</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Code Postal</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Code de la rue</li>
							<li><a href="#"></a><input type="checkbox" value=""/> N°SIREN</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Date de création</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Date de Synchronisation (interne)</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Date de Modification</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Courriel</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Existe t il un Reçu Fiscal ?</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Existe t il un Reçu Fiscal(N-1)?</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Existe t il un Reçu Fiscal (N-2)?</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Fax personnel</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Intitulé</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Existe t il un Reçu Fiscal ?</li>
							<li><a href="#"></a><input type="checkbox" value=""/> lieu-dit, hameau ...</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Mémo</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Mémo privatif</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Numéro</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Pays</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Portable</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Routage</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Secteur (interne)</li>
							<li><a href="#"></a><input type="checkbox" value=""/> N°SIREN</li>
							<li><a href="#"></a><input type="checkbox" value=""/> N°SIREN</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Tél personnel</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Ville</li>
							<li><a href="#"></a><input type="checkbox" value=""/> MontantForfait<br/>  Telephonie</li>
							<li><a href="#"></a><input type="checkbox" value=""/> prelevé</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Secteur</li>
							<li><a href="#"></a><input type="checkbox" value=""/> Telephonie</li>							
						</ul>
					</div><!--fin div button dropdown-->

				</div>	
			</div>
</div><!--fin div container fluid-->
			
				
<div class="col-md-10 pull-right">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Intitulé<a class="carret"></a></th>
				<th>Code Postal<b class="carret"></b></th>
				<th>Ville<b class="carret"></b></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Pharma</td>
				<td>31800</td>
				<td>Saint-gaudens</td>
			</tr>
			<tr>
				<td>Boulangerie</td>
				<td>31800</td>
				<td>Saint-Gaudens</td>
			</tr>
			<tr>
				<td>Tabac</td>
				<td>31800</td>
				<td>Saint-gaudens</td>
			</tr>
		</tbody>
	</table>
</div>

	<!--ajout partie ancien code angular JS-->

	