/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/*body{ 
background: blue}*/

h1{
	color: green;
}

p{
	color: darkorange;
	text-transform: uppercase;
	background-color: palegoldenrod;
}


